header {
    background-color: #2F542C;
    ;
}

.mainmenu {
    position: relative;
    overflow: hidden;
}
.menu2 {
    list-style: none;
    position: relative;
    float: left;
}
.menu {
    position: relative;
}